div {
  border: 1px solid black;
}

#mainContainer {
  display: flex;
  justify-content: space-between;
  border: none;
}

.bloc-Gauche {
  width: 15%;
}

.bloc-Fixe {
  width: 70%;
  margin: 0 10px;
}

.bloc-Bandeau {
  margin: 0 0 15px;
}
